@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html{
  font-size: 10px;
}

body{
  font-family: "Poppins", sans-serif;
  height: 100vh;
  font-weight: 500;

}

.login-signup-main{
  display: flex;
}

.login-signup-left{
  flex-grow: 1;
  height: 100vh;
  background-color: rgb(180, 184, 187);

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-left img{
  width: 400px;
}

.login-signup-right{

  height: 100vh;

  flex-grow: 1;


}

.login-signup-right-container{
  height: 100%;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login-signup-right form{
  display: flex;
  flex-direction: column;
}

.login-signup-logo{
  align-self: center;
  padding-top: 50px;
}

.login-signup-center{
  margin: auto 0;
}

.login-signup-logo img{
  width: 50px;
}

.login-signup-center h2{
  font-size: 3.5rem;
}

.login-signup-center{
  text-align: center;
}

.login-signup-center p{
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

form input[type='email'],
form input[type='password'],
form input[type='text']
 {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
}

.pass-input-div{
  position: relative;
}

.pass-input-div svg{
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  outline: none;
}

form button[type='button'] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
}


.login-signup-center-options{
  display: flex;
  justify-content: space-between;
}

.remember-div{
  display:flex;
  align-items: center;
  column-gap: 5px;
}

.remember-div label{
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgot-pass-link{
  text-decoration: none;
  font-size: 1.3rem;
}

.forgot-pass-link:hover{
  text-decoration: underline;
}

.login-signup-center-buttons{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-signup-center-buttons button:nth-child(1){
  background-color: rgb(180, 184, 187);
  color: white;
  border: 3px solid rgb(180, 184, 187);
}

.login-signup-center-buttons button:nth-child(1):hover{
  color: #333;
  background-color: white;
}

.login-signup-center-buttons button:nth-child(2){
  background-color: rgb(180, 184, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  color: white;
}

.login-signup-center-buttons button:nth-child(2) img{
  width: 30px;
}

.login-signup-center-buttons button:nth-child(2):hover{
  background-color: #c4c4c457;
  color: black;
}

.login-signup-bottom-p{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.login-signup-bottom-p a{
  text-decoration: none;
  font-weight: 600;
}

.login-signup-bottom-p a:hover{
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
 
}

.card {
  padding: 30px;
  width: 50%;
  background-color: #ffffff;
  border-radius: 8px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.button {
  background-color: #00338e !important;
  color: white !important;
  margin-bottom: 20px !important;
  width: 30%;
  max-width: 300px;
  font-size: 10px;
}

.button:hover {
  background-color: #c4c4c457 !important;
  color: black !important;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}

.select {
  width: 100%;
  margin-bottom: 20px;
}

.autocomplete {
  margin-bottom: 20px;
}

.top-right-buttons {
  position: absolute;
  top: 10px;
  right: 120px;
  display: flex;
  gap: 10px;
}

.top-right-buttons .button{
  width: 150px;
  font-size: 10px;
}

.card .button{
  max-width: 300px;
  font-size: 10px;
}

.textfield{
  width: 300px;
  margin-bottom: 10px !important;
}